{% extends "layouts/main.html" %}

{% block content %}
    {% if name != None: %}
    <h1>Die test.html sagt: Aha, du heisst {{ name }} und bist {{ age }} Jahre alt! </h1>
    {% endif %}
    <form method="get">
        <label for="name">Name?</label>
        <input type="text" name="name" id="name" value="{% if name != None %}{{ name }}{% endif %}" />
        <label for="age">Alter?</label>
        <input type="text" name="age" id="age" value="{% if name != None %}{{ age }}{% endif %}" />
        <br />
        <input type="submit" value="senden" />
    </form>


<canvas id="myChart" width="400" height="100"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}